[submodule ".vim/pathogen"]
	path = .vim/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/bufkill"]
	path = .vim/bundle/bufkill
	url = https://github.com/vim-scripts/bufkill.vim.git
[submodule ".vim/bundle/minibufexpl"]
	path = .vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/vim-promptline"]
	path = .vim/bundle/vim-promptline
	url = https://github.com/edkolev/promptline.vim.git
